# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
.installed.cfg
*.egg-info
.venv/
venv/
env/
.env

# PyInstaller
*.spec
build/
dist/

# SQLite
*.db
*.sqlite
*.sqlite3

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Linux
*~
.fuse_hidden*
.directory
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
